* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial, sans-serif;
}

#header{
    height: 46px;
    width: 100%;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
}

#header #nav-search{
    float: right;
    font-size: 20px;
    color: #fff;
    line-height: 46px;
    padding: 0 21px;
    cursor: pointer;
}

#header #nav-search:hover{
    background-color: #f44336;
    color: #000;
}

#nav {
    display: inline-block;
}

#nav li{
    display: block;
    position: relative;
}

#nav > li{
    display: inline-block;
}

#nav li a{
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}

/* gộp 2 selector có trùng css */
#nav .subnav li:hover,
#nav > li:hover > a{
    color: #000;
    background-color: #ccc;
}

#nav li:hover .subnav{
    display: block;
}

#nav .subnav{
    display: none;
    position: absolute;
    color: #000;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#nav .subnav a{
    color: #000;
}

#nav .nav-arrow-down{
    font-size: 14px;
    color: #fff;
}

#nav .nav-arrow-down:hover{
    font-size: 14px;
    color: #000;
}

#footer{

}

#content{

}

#slider{
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/bg-cat-1.jpg') top center / cover no-repeat;   
    position: relative;

}
/* Cách 1 */
#slider .text-content{
    color: #fff;
    position: absolute;
    bottom: 57px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

/*  Cách 2 */
/* #slider .text-content{
    color: #fff;
    position: absolute;
    bottom: 47px;
    width: 100%;
    text-align: center;
} */

/* Cách 3 */
/* #slider .text-content{
    color: #fff;
    position: absolute;
    bottom: 47px;
    left: 0;
    right: 0;
    text-align: center;
} */

#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description{
    font-weight: 500;
    font-size: 15px;
}